/*color, border, padding, ...*/
/*variables*/
:root {
    --backgroundColor: #FFFFFF;
    --userColor: #0099FF;
    --ownColor: #FF9900;
    --timeColor: #00AA00;
    --messageColor: #000000;
    --messageBackgroundcolor: #86bb71ba;
    --messageBackgroundcolorother: #94c2edbd;
    --chatBackgroundcolor: rgba(255, 255, 255, 0.548);
    --containerBackgroundcolor: rgba(0, 0, 0, 0.3);
    --containerBordercolor: rgba(0, 0, 0, 0.5);

    --backgroundTextcolor:#aaa7a791;
    --userListcolor:#000000;
    --buttonBackgroundcolor: rgba(63, 167, 239, 0.8);
    --buttonColor: #ffffff;
    --accent-color: rgba(3, 127, 209, 0.678);
}

/*preferences*/
@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #1d1d1d;
        --userColor: #0099FF;
        --ownColor: #FF9900;
        --timeColor: #00AA00;
        --messageColor: #AAAAAA;
        --messageBackgroundcolor: rgba(0, 0, 0, 0.3);
        --chatBackgroundcolor: rgba(0, 0, 0, 0.3);
        --containerBackgroundcolor: rgba(0, 0, 0, 0.3);
        --containerBordercolor: rgba(0, 0, 0, 0.5);

        --buttonBackgroundcolor: #000000;
        --buttonColor: #ffffff;
        --accent-color: rgba(25, 195, 238, 0.651);
    }
}

#background {
    background-color: var(--backgroundColor);
    background-image: url(./images/Bubbles.png);
    background-size: auto;
    background-repeat: no-repeat;
    color: var(--backgroundTextcolor);
}

#logoImage {
    height: 30%;
    width: auto;
}

#logoText {
    font-family: Courier New;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 6px;
}

#login-screen{
    border: 5px solid var(--containerBordercolor);
    border-radius: 10px;
    background-color: var(--containerBackgroundcolor);
    font-size: large;
}

#login-screen button {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundcolor);
    font-weight: bold;
}

#login-screen button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

#userlist {
    color: var(--userListcolor);
    border: 2px solid var(--containerBordercolor);
    border-radius: 2px;
    background-color: var(--chatBackgroundcolor);
    font-size: large;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

#userinfo {
    color: var(--ownColor);
}

#chat-box {
    background-color: var(--chatBackgroundcolor);
}

.chat-message {

}

.message-other {
    border: 2px solid var(--containerBordercolor);
    border-radius: 20px;
    background-color: var(--messageBackgroundcolorother);
    color: var(--userColor);
}

.message-own {
    border: 2px solid var(--containerBordercolor);
    border-radius: 20px;
    background-color: var(--messageBackgroundcolor);
    color: var(--ownColor);
}

#chat-input input{
    border: 2px solid var(--containerBordercolor);
    border-radius: 2px;
    background-color: var(--containerBackgroundcolor);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
#chat-input input:focus{
    border: 2px solid var(--containerBordercolor);
    border-radius: 2px;
    background-color: var(--containerBackgroundcolor);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}

#chat-input button{
    border: 2px solid var(--containerBordercolor);
    border-radius: 2px;
    background-color: var(--containerBackgroundcolor);
}

.chat-metadata{
    padding: 5px;
}

.chat-metadata-name{
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
}

.chat-metadata-time {
    color: #000000;
}

.chat-text {
    color: var(--messageColor);
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
}